*
!.gitignore
!Include/
!Include/TrendReversal/
!Include/TrendReversal/**
!Experts/
!Experts/RangeMyEA.mq5
!Experts/TrendReversalEA.mq5
!Experts/MA.mq5
!TradingStrategy-Public
!Indicators/
!Indicators/Dual_MA_Indicator.mq5
